@use 'mixins' as *;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;

  // !RESOLUCIONES
  @include phone-x1 { padding: 0.5rem 0.75rem; }
  @include phone-x2 { padding: 0.75rem 1rem; }
  @include phone-medium { padding: 1rem 1.25rem; }
  @include phone-large { padding: 1.25rem 1.5rem; }
  @include tablet-small { padding: 1.25rem 1.5rem; }
  @include tablet { padding: 1.25rem 1.5rem; }
  @include tablet-large { padding: 1.5rem 2rem; }
  @include desktop-small { padding: 1.5rem 2rem; }
  @include desktop-medium { padding: 1.5rem 2.5rem; }
  @include desktop-full { padding: 1rem 2.5rem; }
  @include desktop-ultra-hd { padding: 2rem 3rem; }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem;

    &--title {
      display: flex;
      flex-direction: column;
      gap: var(--space-2);

      h6 {
        color: var(--color-primary);
        font-size: 1.25rem;
        font-weight: 700;
        margin: 0;
      }

      p {
        color: var(--color-text-secondary);
        font-size: var(--font-size-4);
        font-weight: 400;
      }
    }

    &--actions {
      display: flex;
      gap: var(--space-2);
    }
  }

  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }
}

// !SCROLL
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 6px;
}
