@use 'table' as *;

// Sobrecargas específicas para el módulo de Salidas (Tonos Rojos)
.container {
    .header-content {
        &--title h6 {
            color: #b91c1c; // red-700
        }
    }

    .table-section {
        &__header-actions {
            border-bottom: 2px solid #fee2e2; // red-100
        }
    }
}

:ng-deep {
    .custom-table {
        .p-datatable-thead > tr > th {
            background-color: #fff1f2; // rose-50
            color: #334155;
        }

        .p-datatable-tbody > tr {
            &:hover {
                background-color: #fff1f2 !important;
            }
        }
    }
}

.font-bold {
    font-weight: 700;
}

.text-red {
    color: #be123c; // rose-700
}