<form [formGroup]="form" class="unidad-medida-form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="form-row">
            <p-floatlabel>
                <p-select [options]="catalogoSunat()" formControlName="codigoSunat" optionLabel="descripcion" optionValue="codigoSunat" [filter]="true" filterBy="codigoSunat,descripcion" placeholder=" " styleClass="w-full" appendTo="body">
                    <ng-template let-option pTemplate="item">
                        <div class="flex flex-column gap-1">
                            <span class="font-bold">{{ option.codigoSunat }}</span>
                            <span class="text-xs text-secondary">{{ option.descripcion }}</span>
                        </div>
                    </ng-template>
                </p-select>
                <label for="codigoSunat">Código SUNAT <span class="required">*</span></label>
            </p-floatlabel>
        </div>
    </div>

    <div class="row">
        <div class="form-row">
            <p-floatlabel>
                <input pInputText id="nombreComercial" formControlName="nombreComercial" placeholder=" " [class.p-invalid]="form.get('nombreComercial')?.invalid && form.get('nombreComercial')?.touched" />
                <label for="nombreComercial">Nombre Comercial <span class="required">*</span></label>
            </p-floatlabel>
        </div>
        <div class="form-row">
            <p-floatlabel>
                <input pInputText id="abreviatura" formControlName="abreviatura" placeholder=" " [class.p-invalid]="form.get('abreviatura')?.invalid && form.get('abreviatura')?.touched" />
                <label for="abreviatura">Abreviatura</label>
            </p-floatlabel>
        </div>
    </div>
</form>
