@use 'table' as *;

// Sobrecargas específicas para el módulo de Ingresos (Tonos Azules)
.container {
    .header-content {
        &--title h6 {
            color: #1e40af; // blue-800
        }
    }

    .table-section {
        &__header-actions {
            border-bottom: 2px solid #dbeafe; // blue-100
        }
    }
}

:ng-deep {
    .custom-table {
        .p-datatable-thead > tr > th {
            background-color: #f8fafc;
            color: #334155;
        }

        .p-datatable-tbody > tr {
            &:hover {
                background-color: #f1f5f9 !important;
            }
        }
    }
}

.font-bold {
    font-weight: 700;
    color: #1e3a8a;
}